language: node_js
node_js: stable

cache:
  directories:
    - node_modules

git:
    submodules: false

before_install:
    - git checkout develop

install:
  - npm install

script:
  - hexo g

after_script:
  - cd public
  - git init
  - git config user.name "dbdd4us"
  - git config user.email "wangtong2712@gmail.com"
  - git add .
  - git commit -m "Auto push from travis ci."
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:master

branches:
  only:
    - develop
env:
 global:
   - GH_REF: github.com/TencentCloudContainerTeam/TencentCloudContainerTeam.github.io
